@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&family=Sahitya:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1517 ;
    color:#c4bab1 ;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.backgroudsessao1 {
    background:#181012 ;
}
a {
    text-decoration: none;

}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family:"Sahitya", serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #c4bab1;
}

.central {
    display: flex;
    gap: 1.5rem;
    color: #c4bab1;
    font-weight: 900;
   
}

main {
    display: flex;
    flex-direction: column;
    
}

.principal {
    display: flex;
    flex-direction: column;
    column-count: 2;
}

.sessao1 {
    background: #181012;
    max-width: 1120px;
    height: 60vh;
    padding-left: 2rem;
/* vh= unidade de medida com base no viewport do navegador*/
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    gap: 6rem;
    align-items: center;
}

.sessaoconteudo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1rem;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.0rem;
    color: aliceblue;
}

.subtitulo {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 31.2px;
}

.imagens-container {
    column-count: 4;
    max-width: 45%;
    column-gap: 1rem;
    padding: 0rem 2rem;
    margin: auto;
}

.imagens-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;

}

.conteudo1 {
    display: flex;
    flex-direction: column;
    column-count: 2;
    max-width: 1120px;
    padding: 4rem 2rem;
    margin: auto;
}

.cabeçalhoconteudo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.destaque1 {
    color: #E7A80E;
    padding-bottom: 30rem;
}


.titulocabeçalho {
    font-size: 2rem;
    font-weight: 700;
    color: #FFF2E7
}


.subtitulo1 {
    font-family: ;
    font-size: 1rem;
    font: weight 400px; ;
    color: #FFF2E7;
    gap: 1rem;
    padding-bottom: 1rem;
}


.subconteudo {
    padding: orem 10rem;
    display: flex;
    flex: row;
    flex-wrap: wrap;
    gap: 2rem;
    color: #FFF2E7;
}

.subsubconteudo1 {
    background: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 29rem;
}

.subconteudocabeçalho {
    display: flex;
    align-items: end;
    color: #FFF2E7;
}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #23181A;
}

.cop {
    color: #FFF2E7
    font-size: 14px;
    font-weight: 500;
}

.mensagem {
    color: #FFF2E7
    font-size: 14px;
    font-weight: 500;
}
}